@inject IMAINService _MAINService
@inject CookieHelper CookieHelper
@inject IB03Service _B03Service
@{
	//string version = GlobalHelper.InitializationDateTimeCode;
	bool IsButtonfind = false;
	bool IsButtonadd = false;
	bool IsButtonsave = false;
	bool IsButtondelete = false;
	bool IsButtoncancel = false;
	bool IsButtoninport = false;
	bool IsButtonexport = false;
	bool IsButtonprint = false;

	BaseResult BaseResult = new BaseResult();
	BaseParameter BaseParameter = new BaseParameter();
	string url = "B03";
	try
	{
		BaseParameter.USER_IDX = CookieHelper.GetCookie(GlobalHelper.USER_IDX) ?? string.Empty;
		BaseResult = await _MAINService.Main_Shown(BaseParameter);
		if (BaseResult.ListtsauthTranfer != null)
		{
			BaseResult.tsauthTranfer = BaseResult.ListtsauthTranfer.Where(o => o.SCRN_PATH == url).FirstOrDefault();
			if (BaseResult.tsauthTranfer != null)
			{
				IsButtonfind = bool.Parse(BaseResult.tsauthTranfer.IQ_AUTH_YN);
				IsButtonadd = bool.Parse(BaseResult.tsauthTranfer.RGST_AUTH_YN);
				IsButtonsave = bool.Parse(BaseResult.tsauthTranfer.MDFY_AUTH_YN);
				IsButtondelete = bool.Parse(BaseResult.tsauthTranfer.DEL_AUTH_YN);
				IsButtoncancel = bool.Parse(BaseResult.tsauthTranfer.CAN_AUTH_YN);
				IsButtoninport = bool.Parse(BaseResult.tsauthTranfer.EXCL_AUTH_YN);
				IsButtonexport = bool.Parse(BaseResult.tsauthTranfer.DNLD_AUTH_YN);
				IsButtonprint = bool.Parse(BaseResult.tsauthTranfer.PRNT_AUTH_YN);
			}
		}
	}
	catch (Exception ex)
	{
		string mes = ex.Message;
	}
	try
	{
		BaseResult = await _B03Service.Load();
	}
	catch (Exception ex)
	{
		string mes = ex.Message;
	}
}

@{
	ViewData["Title"] = @MES_MVC.Resources.Resource.GetObject(url) + " (" + url + ")";
}

<div class="col s12 m12 l12">
	<div class="card card card-default scrollspy">
		<div class="card-content">
			<div class="row">
				<div class="col s12 m12 l3">
					<h6><b>@MES_MVC.Resources.Resource.GetObject(url) (@url)</b></h6>
				</div>
				<div class="col s12 m12 l9 right-align-md">
					<button @(IsButtonfind ? "" : "Disabled") id="Buttonfind" title="@MES_MVC.Resources.Resource.Buttonfind" class="btn waves-effect waves-light green darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">search</i> @MES_MVC.Resources.Resource.Buttonfind
					</button>

					<button @(IsButtonadd ? "" : "Disabled") id="Buttonadd" title="@MES_MVC.Resources.Resource.Buttonadd" class="btn waves-effect waves-light green darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">add</i> @MES_MVC.Resources.Resource.Buttonadd
					</button>

					<button @(IsButtonsave ? "" : "Disabled") id="Buttonsave" title="Edit" class="btn waves-effect waves-light cyan darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">save</i> Edit
					</button>

					<button @(IsButtondelete ? "" : "Disabled") id="Buttondelete" title="@MES_MVC.Resources.Resource.Buttondelete" class="btn waves-effect waves-light red darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">delete</i> @MES_MVC.Resources.Resource.Buttondelete
					</button>

					<button @(IsButtoncancel ? "" : "Disabled") id="Buttoncancel" title="@MES_MVC.Resources.Resource.Buttoncancel" class="btn waves-effect waves-light green darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">error</i> @MES_MVC.Resources.Resource.Buttoncancel
					</button>

					<button disabled @(IsButtoninport ? "" : "Disabled") id="Buttoninport" title="@MES_MVC.Resources.Resource.Buttoninport" class="btn waves-effect waves-light green darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">cloud_upload</i> @MES_MVC.Resources.Resource.Buttoninport
					</button>

					<button disabled @(IsButtonexport ? "" : "Disabled") id="Buttonexport" title="@MES_MVC.Resources.Resource.Buttonexport" class="btn waves-effect waves-light green darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">cloud_download</i> @MES_MVC.Resources.Resource.Buttonexport
					</button>

					<button @(IsButtonprint ? "" : "Disabled") id="Buttonprint" title="@MES_MVC.Resources.Resource.Buttonprint" class="btn waves-effect waves-light green darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">print</i> @MES_MVC.Resources.Resource.Buttonprint
					</button>

					<button id="Buttonhelp" title="@MES_MVC.Resources.Resource.Buttonhelp" class="btn waves-effect waves-light green darken-1"
							style="margin-right: 10px;">
						<i class="material-icons">help</i>
					</button>

					<button id="Buttonclose" title="@MES_MVC.Resources.Resource.Buttonclose" class="btn waves-effect waves-light purple darken-1"><i class="material-icons">close</i> @MES_MVC.Resources.Resource.Buttonclose</button>
				</div>
			</div>
			<div class="row card-panel light-blue lighten-4">
				<div class="col s12 m12 l12">
					<div class="col s12 m12 l2">
						<div>
							<label>Date (MM/DD/YYYY)</label>
							<input id="Date1" type="date" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Part NO. :</label>
							<input id="TBsuch1" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Part Name :</label>
							<input id="TBsuch2" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Shipped No. :</label>
							<input id="TBsuch3" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Pallet No. :</label>
							<input id="TBsuch4" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<br />
							<button id="Button2" title="Re Print" class="btn waves-effect waves-light green darken-1"
									style="margin-right: 10px;">
								<i class="material-icons">print</i> Re Print
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row card-panel yellow lighten-4">
				<div class="col s12 m12 l12">
					<div class="col s12 m12 l2">
						<div>
							<label><b>PART NO(*) : </b></label>
							<input id="TBPARTNO" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>PART NAME : </label>
							<input id="TBPARTNM" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>UNIT : </label>
							<input id="TB_01" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Shipped No. : </label>
							<input id="TB_02" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>SNP : </label>
							<input id="TBPARTSNP" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l1" style="display: none;">
						<div>
							<label>TBMTIN_IDX : </label>
							<input id="TBMTIN_IDX" type="text" class="form-control" readonly>
						</div>
					</div>
					<div class="col s12 m12 l1" style="display: none;">
						<div>
							<label>TBPARTIDX : </label>
							<input id="TBPARTIDX" type="text" class="form-control" readonly>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l12">
					<div class="col s12 m12 l2">
						<div>
							<label><b>QUANTITY(*) : </b></label>
							<input id="TB_03" type="number" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>N/WEIGHT : </label>
							<input id="TB_04" type="number" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>G/WEIGHT : </label>
							<input id="TB_05" type="number" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Pallet/No : </label>
							<input id="TB_06" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Remark : </label>
							<input id="TB_07" type="text" class="form-control">
						</div>
					</div>
					<div class="col s12 m12 l2">
						<div>
							<label>Location (A-AA-AAA): </label>
							<input id="TB_08" type="text" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l4">
					<div>
						<label>
							<input id="rbchk1" name="PART_USE" type="radio" value="true" />
							<span>Select All</span>
						</label>
						<label>
							<input id="rbchk2" name="PART_USE" type="radio" value="false" />
							<span>Inversion of choice</span>
						</label>
					</div>
				</div>
			</div>
			<div class="KhungOverflow">
				<table class="responsive-table" id="DataGridViewTable">
					<thead class="sticky-header">
						<tr onclick="DataGridView1Sort()">
							<th></th>
							<th>DATE</th>
							<th>PART_NO</th>
							<th>PART NAME</th>
							<th>UTM</th>
							<th>Packing Unit(SNP)</th>
							<th>QUANTITY</th>
							<th>N/WEIGHT</th>
							<th>G/WEIGHT</th>
							<th>PALLET NO</th>
							<th>SHIPPED NO</th>
							<th>Location</th>
							<th>REMARK</th>
							<th>CREATE_DTM</th>			
							<th>CREATE_USER</th>
						</tr>
					</thead>
					<tbody id="DataGridView">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/B03.js?v=@GlobalHelper.GetVersionScrip("B03.js")"></script>

