@inject IMAINService _MAINService
@inject CookieHelper CookieHelper
@inject IF04Service _F04Service
@{
    string version = GlobalHelper.InitializationDateTimeCode;
    bool IsButtonfind = false;
    bool IsButtonadd = false;
    bool IsButtonsave = false;
    bool IsButtondelete = false;
    bool IsButtoncancel = false;
    bool IsButtoninport = false;
    bool IsButtonexport = false;
    bool IsButtonprint = false;

    BaseResult BaseResult = new BaseResult();
    BaseParameter BaseParameter = new BaseParameter();
    string url = "F04";
    try
    {
        //truyền biến User ID thay thê cho Cookeis đẻ lấy phan quyền action cho button
        BaseParameter.USER_IDX = CookieHelper.GetCookie(GlobalHelper.USER_IDX) ?? string.Empty;
        BaseResult = await _MAINService.Main_Shown(BaseParameter);
        if (BaseResult.ListtsauthTranfer != null)
        {
            BaseResult.tsauthTranfer = BaseResult.ListtsauthTranfer.Where(o => o.SCRN_PATH == url).FirstOrDefault();
            if (BaseResult.tsauthTranfer != null)
            {
                IsButtonfind = bool.Parse(BaseResult.tsauthTranfer.IQ_AUTH_YN);
                IsButtonadd = bool.Parse(BaseResult.tsauthTranfer.RGST_AUTH_YN);
                IsButtonsave = bool.Parse(BaseResult.tsauthTranfer.MDFY_AUTH_YN);
                IsButtondelete = bool.Parse(BaseResult.tsauthTranfer.DEL_AUTH_YN);
                IsButtoncancel = bool.Parse(BaseResult.tsauthTranfer.CAN_AUTH_YN);
                IsButtoninport = bool.Parse(BaseResult.tsauthTranfer.EXCL_AUTH_YN);
                IsButtonexport = bool.Parse(BaseResult.tsauthTranfer.DNLD_AUTH_YN);
                IsButtonprint = bool.Parse(BaseResult.tsauthTranfer.PRNT_AUTH_YN);
            }
        }
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
    try
    {
        BaseResult = await _F04Service.Load();
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
}

@{
    ViewData["Title"] = @MES_MVC.Resources.Resource.GetObject(url) + " (" + url + ")";
}

<div class="col s12 m12 l12">
    <div class="card card-default scrollspy">
        <div class="card-content">
            <!-- Header + Buttons -->
            <div class="row">
                <div class="col s12 m12 l3">
                    <h6><b>@MES_MVC.Resources.Resource.GetObject(url) (@url)</b></h6>
                </div>
                <div class="col s12 m12 l9 right-align-md">
                    <button @(IsButtonfind ? "" : "Disabled") id="Buttonfind" title="@MES_MVC.Resources.Resource.Buttonfind" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">search</i> @MES_MVC.Resources.Resource.Buttonfind
                    </button>

                    <button @(IsButtonadd ? "" : "Disabled") id="Buttonadd" title="@MES_MVC.Resources.Resource.Buttonadd" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">add</i> @MES_MVC.Resources.Resource.Buttonadd
                    </button>

                    <button @(IsButtonsave ? "" : "Disabled") id="Buttonsave" title="@MES_MVC.Resources.Resource.Buttonsave" class="btn waves-effect waves-light cyan darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">save</i> @MES_MVC.Resources.Resource.Buttonsave
                    </button>

                    <button @(IsButtondelete ? "" : "Disabled") id="Buttondelete" title="@MES_MVC.Resources.Resource.Buttondelete" class="btn waves-effect waves-light red darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">delete</i> @MES_MVC.Resources.Resource.Buttondelete
                    </button>

                    <button @(IsButtoncancel ? "" : "Disabled") id="Buttoncancel" title="@MES_MVC.Resources.Resource.Buttoncancel" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">error</i> @MES_MVC.Resources.Resource.Buttoncancel
                    </button>

                    <button @(IsButtoninport ? "" : "Disabled") id="Buttoninport" title="@MES_MVC.Resources.Resource.Buttoninport" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">cloud_upload</i> @MES_MVC.Resources.Resource.Buttoninport
                    </button>

                    <button @(IsButtonexport ? "" : "Disabled") id="Buttonexport" title="@MES_MVC.Resources.Resource.Buttonexport" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">cloud_download</i> @MES_MVC.Resources.Resource.Buttonexport
                    </button>

                    <button @(IsButtonprint ? "" : "Disabled") id="Buttonprint" title="@MES_MVC.Resources.Resource.Buttonprint" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">print</i> @MES_MVC.Resources.Resource.Buttonprint
                    </button>

                    <button id="Buttonhelp" title="@MES_MVC.Resources.Resource.Buttonhelp" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">help</i>
                    </button>

                    <button id="Buttonclose" title="@MES_MVC.Resources.Resource.Buttonclose" class="btn waves-effect waves-light purple darken-1"><i class="material-icons">close</i> @MES_MVC.Resources.Resource.Buttonclose</button>
                </div>
            </div>

            <!-- Search Bar -->
            <div class="row search-bar">
                <div class="col s12 m8 l6">
                    <input id="F04_SearchBox" type="text" class="form-control" placeholder="Tìm kiếm (Mã lỗi, Loại lỗi, Mô tả...)" />
                </div>
            </div>

            <!-- Table -->
            <div class="row">
                <div class="col s12">
                    <div class="KhungOverflow60">
                        <table id="DataGridView1" class="highlight responsive-table">
                            <thead class="sticky-header">
                                <tr>
                                    <th>
                                        <label>
                                            <input type="checkbox" id="selectAll">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>Action</th>
                                    <th>ID</th>
                                    <th>Error Code</th>
                                    <th>Error Type</th>
                                    <th>Error Description</th>
                                    <th>Korean Description</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Updated Date</th>
                                    <th>Updated By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data fill by JS -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Add/Edit -->
<div id="modal-add" class="modal">
    <div class="modal-content">
        <h5 id="modal-title">Thêm / Sửa Mã Lỗi</h5>
        <form id="F04Form">
            <div class="row">
                <div class="col s12 m6">
                    <label for="TextBox_ErrorCode">Mã Lỗi <span class="red-text">*</span></label>
                    <input id="TextBox_ErrorCode" type="text" class="form-control" maxlength="50" required>
                </div>
                <div class="col s12 m6">
                    <label for="ComboBox_ErrorType">Loại Lỗi <span class="red-text">*</span></label>
                    <select id="ComboBox_ErrorType" class="form-control browser-default">
                        <option value="">-- Chọn Loại Lỗi --</option>
                        <option value="CTLP">CTLP</option>
                        <option value="FA">FA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <label for="TextBox_ErrorDescription">Mô Tả Lỗi <span class="red-text">*</span></label>
                    <input id="TextBox_ErrorDescription" type="text" class="form-control" required>
                </div>
                <div class="col s12 m6">
                    <label for="TextBox_KoreanDescription">Mô Tả Tiếng Hàn</label>
                    <input id="TextBox_KoreanDescription" type="text" class="form-control">
                </div>
            </div>
            <input type="hidden" id="TextBox_ID" />
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn grey lighten-1" type="button">Huỷ</button>
        <button id="ModalSaveBtn" class="btn green" type="button">Lưu</button>
    </div>
</div>

<!-- Modal Import -->
<div id="ModalImportF04" class="modal">
    <div class="modal-content">
        <div class="row" style="margin-bottom:0;">
            <div class="col s8">
                <h5>Import Danh Sách Lỗi</h5>
            </div>
            <div class="right-align" style="margin-bottom:10px;">
                <a href="/Template/NGList.xlsx" class="btn blue lighten-1" download style="margin-right:8px;">
                    <i class="material-icons left">file_download</i>File mẫu
                </a>
                <button id="BtnSaveImportF04" class="btn green" style="margin-right:8px;">
                    <i class="material-icons left">save</i>Save
                </button>
                <button class="modal-close btn red">
                    <i class="material-icons left">close</i>Cancel
                </button>
            </div>
        </div>

        <div class="file-field input-field" style="margin-bottom:0;">
            <div class="btn cyan">
                <span>Chọn File</span>
                <input id="FileImportF04" type="file" accept=".xlsx,.xls">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Tải file Excel...">
            </div>
        </div>

        <div class="progress" id="importProgressF04" style="display:none;">
            <div class="indeterminate"></div>
        </div>

        <div class="KhungOverflow" style="max-height:300px;">
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>Mã Lỗi</th>
                        <th>Loại Lỗi</th>
                        <th>Mô Tả Lỗi</th>
                        <th>Mô Tả Tiếng Hàn</th>
                    </tr>
                </thead>
                <tbody id="ImportPreviewTableF04">
                 
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="~/Scripts/F04.js?v=@version"></script>