@inject IMAINService _MAINService
@inject CookieHelper CookieHelper
@inject IC01Service _C01Service
@{
    string version = GlobalHelper.InitializationDateTimeCode;
    bool IsButtonfind = false;
    bool IsButtonadd = false;
    bool IsButtonsave = false;
    bool IsButtondelete = false;
    bool IsButtoncancel = false;
    bool IsButtoninport = false;
    bool IsButtonexport = false;
    bool IsButtonprint = false;

    BaseResult BaseResult = new BaseResult();
    BaseParameter BaseParameter = new BaseParameter();
    string DomainSite = CookieHelper.GetCookie(GlobalHelper.DomainSite) ?? GlobalHelper.URLSite;
    string url = "C01";
    string ExcelTemplateURL = DomainSite + "/" + GlobalHelper.Excel + "/" + url + ".xlsx";
    try
    {
        //truyền biến User ID thay thê cho Cookeis đẻ lấy phan quyền action cho button
        BaseParameter.USER_IDX = CookieHelper.GetCookie(GlobalHelper.USER_IDX) ?? string.Empty;
        BaseResult = await _MAINService.Main_Shown(BaseParameter);
        if (BaseResult.ListtsauthTranfer != null)
        {
            BaseResult.tsauthTranfer = BaseResult.ListtsauthTranfer.Where(o => o.SCRN_PATH == url).FirstOrDefault();
            if (BaseResult.tsauthTranfer != null)
            {
                IsButtonfind = bool.Parse(BaseResult.tsauthTranfer.IQ_AUTH_YN);
                IsButtonadd = bool.Parse(BaseResult.tsauthTranfer.RGST_AUTH_YN);
                IsButtonsave = bool.Parse(BaseResult.tsauthTranfer.MDFY_AUTH_YN);
                IsButtondelete = bool.Parse(BaseResult.tsauthTranfer.DEL_AUTH_YN);
                IsButtoncancel = bool.Parse(BaseResult.tsauthTranfer.CAN_AUTH_YN);
                IsButtoninport = bool.Parse(BaseResult.tsauthTranfer.EXCL_AUTH_YN);
                IsButtonexport = bool.Parse(BaseResult.tsauthTranfer.DNLD_AUTH_YN);
                IsButtonprint = bool.Parse(BaseResult.tsauthTranfer.PRNT_AUTH_YN);
            }
        }
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
    try
    {
        BaseResult = await _C01Service.Load();
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
}

@{
    ViewData["Title"] = @MES_MVC.Resources.Resource.GetObject(url) + " (" + url + ")";
}

<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l3">
                    <h6><b>@MES_MVC.Resources.Resource.GetObject(url) (@url)</b></h6>
                </div>
                <div class="col s12 m12 l9 right-align-md">
                    <button @(IsButtonfind ? "" : "Disabled") id="Buttonfind" title="@MES_MVC.Resources.Resource.Buttonfind" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">search</i> @MES_MVC.Resources.Resource.Buttonfind
                    </button>

                    <button @(IsButtonadd ? "" : "Disabled") id="Buttonadd" title="@MES_MVC.Resources.Resource.Buttonadd" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">add</i> @MES_MVC.Resources.Resource.Buttonadd
                    </button>

                    <button @(IsButtonsave ? "" : "Disabled") id="Buttonsave" title="@MES_MVC.Resources.Resource.Buttonsave" class="btn waves-effect waves-light cyan darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">save</i> @MES_MVC.Resources.Resource.Buttonsave
                    </button>

                    <button @(IsButtondelete ? "" : "Disabled") id="Buttondelete" title="@MES_MVC.Resources.Resource.Buttondelete" class="btn waves-effect waves-light red darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">delete</i> @MES_MVC.Resources.Resource.Buttondelete
                    </button>

                    <button @(IsButtoncancel ? "" : "Disabled") id="Buttoncancel" title="@MES_MVC.Resources.Resource.Buttoncancel" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">error</i> @MES_MVC.Resources.Resource.Buttoncancel
                    </button>

                    <button @(IsButtoninport ? "" : "Disabled") id="Buttoninport" title="@MES_MVC.Resources.Resource.Buttoninport" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">cloud_upload</i> @MES_MVC.Resources.Resource.Buttoninport
                    </button>

                    <button @(IsButtonexport ? "" : "Disabled") id="Buttonexport" title="@MES_MVC.Resources.Resource.Buttonexport" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">cloud_download</i> @MES_MVC.Resources.Resource.Buttonexport
                    </button>

                    <button @(IsButtonprint ? "" : "Disabled") id="Buttonprint" title="@MES_MVC.Resources.Resource.Buttonprint" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">print</i> @MES_MVC.Resources.Resource.Buttonprint
                    </button>

                    <button id="Buttonhelp" title="@MES_MVC.Resources.Resource.Buttonhelp" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">help</i>
                    </button>

                    <button id="Buttonclose" title="@MES_MVC.Resources.Resource.Buttonclose" class="btn waves-effect waves-light purple darken-1"><i class="material-icons">close</i> @MES_MVC.Resources.Resource.Buttonclose</button>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="tabs">
                        <li class="tab col s2 p-0">
                            <a id="ATag001" class="active p-0" href="#Tag001">Order Plan</a>
                        </li>
                        <li class="tab col s2 p-0">
                            <a id="ATag002" class="p-0" href="#Tag002">Review Order</a>
                        </li>
                        <li class="tab col s2 p-0">
                            <a id="ATag003" class="p-0" href="#Tag003">Order confirmation</a>
                        </li>
                        <li class="tab col s2 p-0">
                        </li>
                        <li class="tab col s2 p-0">
                        </li>
                        <li class="tab col s2 p-0">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" id="Tag001">                
                <div class="row card-panel light-blue lighten-4">
                    <div class="col s12 m6 l12">
                        <div class="col s12 m12 l2">
                            <div>
                                <label style="color: blue;">Factory : </label>
                                <select id="ComboBox2" class="browser-default form-select">
                                    <option value="Factory 1">
                                        Factory 1
                                    </option>
                                    <option value="Factory 2">
                                        Factory 2
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Working Week :</label>
                                <input id="DateTimePicker3" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Week</label>
                                <input id="Label5" type="number" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>
                                    <input id="CheckBox1" type="checkbox" class="form-check-input" />
                                    <span>không tồn kho.(재고 미 반영)</span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <a href="@ExcelTemplateURL" title="@ExcelTemplateURL" class="link-primary">
                                    <b>
                                        Execl Sheet Name :
                                        Order_List
                                    </b>
                                </a>
                                <input id="FileToUpload" type="file" class="form-control" accept=".xls,.xlsx" style="display:none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="KhungOverflow60">
                    <table class="responsive-table" id="DataGridView1Table">
                        <thead class="sticky-header">
                            <tr onclick="DataGridView1Sort()">
                                <th></th>
                                <th>PO Code</th>
                                <th>BOM</th>
                                <th>ASSY NO</th>
                                <th>LEAD NO</th>
                                <th>Project</th>
                                <th>Total Quantity</th>
                                <th>Q'ty</th>
                                <th>Current Leads</th>
                                <th>CT Leads</th>
                                <th>CT Leads_Pr</th>
                                <th>Group</th>
                                <th>Print</th>
                                <th>Date</th>
                                <th>Machine</th>
                                <th>Bundle Size</th>
                                <th>Hook Rack</th>
                                <th>Wire</th>
                                <th>T1.Dir</th>
                                <th>Term1</th>
                                <th>Strip1</th>
                                <th>Seal1</th>
                                <th>CCH/W1</th>
                                <th>ICH/W1</th>
                                <th>T2.Dir</th>
                                <th>Term2</th>
                                <th>Strip2</th>
                                <th>Seal2</th>
                                <th>CCH/W2</th>
                                <th>ICH/W2</th>
                                <th>SP/ST</th>
                                <th>REP</th>
                            </tr>
                        </thead>
                        <tbody id="DataGridView1">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="Tag002">
                <div class="row card-panel yellow lighten-4">
                    <div class="col s12 m6 l12">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>CREATE DATE : </label>
                                <select id="ComboBox3" class="browser-default form-select">                                  
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>.</label>
                                <input id="Label10" type="text" class="form-control" readonly style="color: blue;">
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="KhungOverflow60">
                    <table class="responsive-table" id="DataGridView2Table">
                        <thead class="sticky-header">
                            <tr onclick="DataGridView2Sort()">
                                <th></th>
                                <th>ORD_TYPE</th>
                                <th>WEEK</th>
                                <th>Factory</th>
                                <th>ASSY NO</th>
                                <th>LEAD NO</th>
                                <th>Project</th>
                                <th>Sum_Stock</th>                                
                                <th>Stock_CHK</th>
                                <th>Total QTY</th>
                                <th>Safety Qty</th>
                                <th>USE_STOCK</th>
                                <th>MES_Order</th>
                                <th>Current Leads</th>
                                <th>CT Leads</th>
                                <th>CT Leads_Pr</th>
                                <th>Group</th>
                                <th>Print</th>
                                <th>Date</th>
                                <th>Machine</th>
                                <th>Bundle Size</th>                                
                                <th>Hook Rack</th>
                                <th>Wire</th>
                                <th>T1.Dir</th>
                                <th>Term1</th>
                                <th>Strip1</th>
                                <th>Seal1</th>
                                <th>CCH/W1</th>
                                <th>ICH/W1</th>
                                <th>T2.Dir</th>
                                <th>Term2</th>
                                <th>Strip2</th>
                                <th>Seal2</th>
                                <th>CCH/W2</th>
                                <th>ICH/W2</th>
                                <th>SP/ST</th>
                                <th>REP</th>
                                @* <th>PO_SUM</th>
                                <th>STCK_QTY1</th>
                                <th>STCK_QTY2</th>
                                <th>BF_USE_PO1</th>
                                <th>USED</th>
                                <th>ORDER_IDX</th> *@
                            </tr>
                        </thead>
                        <tbody id="DataGridView2">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="Tag003">
                <div class="row card-panel green lighten-4">
                    <div class="col s12 m6 l12">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Order Date : </label>
                                <input id="DateTimePicker1" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>CREATE DATE : </label>
                                <select id="ComboBox1" class="browser-default form-select">
                                </select>                                
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>.</label>
                                <input id="Label11" type="text" class="form-control" readonly style="color: blue;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="KhungOverflow60">
                    <table class="responsive-table" id="DataGridView3Table">
                        <thead class="sticky-header">
                            <tr onclick="DataGridView3Sort()">
                                <th>CHK</th>
                                <th>ORD_TYPE</th>
                                <th>WEEK</th>
                                <th>Factory</th>
                                <th>ASSY NO</th>
                                <th>LEAD NO</th>
                                <th>Project</th>                               
                                <th>Total Quantity</th>
                                <th>Safety Qty</th>
                                <th>USE_STOCK</th>
                                <th>MES_Order</th>
                                <th>Current Leads</th>
                                <th>CT Leads</th>
                                <th>CT Leads_Pr</th>
                                <th>Group</th>
                                <th>Print</th>
                                <th>Date</th>
                                <th>Machine</th>
                                <th>Bundle Size</th>
                                <th>Hook Rack</th>
                                <th>Wire</th>
                                <th>T1.Dir</th>
                                <th>Term1</th>
                                <th>Strip1</th>
                                <th>Seal1</th>
                                <th>CCH/W1</th>
                                <th>ICH/W1</th>
                                <th>T2.Dir</th>
                                <th>Term2</th>
                                <th>Strip2</th>
                                <th>Seal2</th>
                                <th>CCH/W2</th>
                                <th>ICH/W2</th>
                                <th>SP/ST</th>
                                <th>REP</th>                               
                                <th>ORDER_IDX</th>
                            </tr>
                        </thead>
                        <tbody id="DataGridView3">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/C01.js?v=@version"></script>

