@inject IMAINService _MAINService
@inject CookieHelper CookieHelper
@inject IC16Service _C16Service
@{
    string version = GlobalHelper.InitializationDateTimeCode;
    bool IsButtonfind = false;
    bool IsButtonadd = false;
    bool IsButtonsave = false;
    bool IsButtondelete = false;
    bool IsButtoncancel = false;
    bool IsButtoninport = false;
    bool IsButtonexport = false;
    bool IsButtonprint = false;

    BaseResult BaseResult = new BaseResult();
    BaseParameter BaseParameter = new BaseParameter();
    string url = "C16";
    try
    {
        // Truyền biến User ID thay thế cho Cookies để lấy phân quyền action cho button
        BaseParameter.USER_IDX = CookieHelper.GetCookie(GlobalHelper.USER_IDX) ?? string.Empty;
        BaseResult = await _MAINService.Main_Shown(BaseParameter);
        if (BaseResult.ListtsauthTranfer != null)
        {
            BaseResult.tsauthTranfer = BaseResult.ListtsauthTranfer.Where(o => o.SCRN_PATH == url).FirstOrDefault();
            if (BaseResult.tsauthTranfer != null)
            {
                IsButtonfind = bool.Parse(BaseResult.tsauthTranfer.IQ_AUTH_YN);
                IsButtonadd = bool.Parse(BaseResult.tsauthTranfer.RGST_AUTH_YN);
                IsButtonsave = bool.Parse(BaseResult.tsauthTranfer.MDFY_AUTH_YN);
                IsButtondelete = bool.Parse(BaseResult.tsauthTranfer.DEL_AUTH_YN);
                IsButtoncancel = bool.Parse(BaseResult.tsauthTranfer.CAN_AUTH_YN);
                IsButtoninport = bool.Parse(BaseResult.tsauthTranfer.EXCL_AUTH_YN);
                IsButtonexport = bool.Parse(BaseResult.tsauthTranfer.DNLD_AUTH_YN);
                IsButtonprint = bool.Parse(BaseResult.tsauthTranfer.PRNT_AUTH_YN);
            }
        }
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
    try
    {
        BaseResult = await _C16Service.Load();
    }
    catch (Exception ex)
    {
        string mes = ex.Message;
    }
}

@{
    ViewData["Title"] = @MES_MVC.Resources.Resource.GetObject(url) + " (" + url + ")";
}

<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l3">
                    <h6><b>@MES_MVC.Resources.Resource.GetObject(url) (@url)</b></h6>
                </div>
                <div class="col s12 m12 l2">
                    <div>
                        <label>
                            <input id="RadioButton1" name="Factory" type="radio" />
                            <span>Factory 1</span>
                        </label>
                        <label>
                            <input id="RadioButton2" name="Factory" type="radio" />
                            <span>Factory 2</span>
                        </label>
                    </div>
                </div>
                <div class="col s12 m12 l9 right-align-md">
                    <button @(IsButtonfind ? "" : "Disabled") id="Buttonfind" title="@MES_MVC.Resources.Resource.Buttonfind" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">search</i> @MES_MVC.Resources.Resource.Buttonfind
                    </button>

                    <button @(IsButtonadd ? "" : "Disabled") id="Buttonadd" title="@MES_MVC.Resources.Resource.Buttonadd" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">add</i> @MES_MVC.Resources.Resource.Buttonadd
                    </button>

                    <button @(IsButtonsave ? "" : "Disabled") id="Buttonsave" title="@MES_MVC.Resources.Resource.Buttonsave" class="btn waves-effect waves-light cyan darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">save</i> @MES_MVC.Resources.Resource.Buttonsave
                    </button>

                    <button @(IsButtondelete ? "" : "Disabled") id="Buttondelete" title="@MES_MVC.Resources.Resource.Buttondelete" class="btn waves-effect waves-light red darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">delete</i> @MES_MVC.Resources.Resource.Buttondelete
                    </button>

                    <button @(IsButtoncancel ? "" : "Disabled") id="Buttoncancel" title="@MES_MVC.Resources.Resource.Buttoncancel" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">error</i> @MES_MVC.Resources.Resource.Buttoncancel
                    </button>

                    <button @(IsButtoninport ? "" : "Disabled") id="Buttoninport" title="@MES_MVC.Resources.Resource.Buttoninport" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">cloud_upload</i> @MES_MVC.Resources.Resource.Buttoninport
                    </button>

                    <button @(IsButtonexport ? "" : "Disabled") id="Buttonexport" title="@MES_MVC.Resources.Resource.Buttonexport" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">cloud_download</i> @MES_MVC.Resources.Resource.Buttonexport
                    </button>

                    <button @(IsButtonprint ? "" : "Disabled") id="Buttonprint" title="@MES_MVC.Resources.Resource.Buttonprint" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">print</i> @MES_MVC.Resources.Resource.Buttonprint
                    </button>

                    <button id="Buttonhelp" title="@MES_MVC.Resources.Resource.Buttonhelp" class="btn waves-effect waves-light green darken-1"
                            style="margin-right: 10px;">
                        <i class="material-icons">help</i>
                    </button>

                    <button id="Buttonclose" title="@MES_MVC.Resources.Resource.Buttonclose" class="btn waves-effect waves-light purple darken-1"><i class="material-icons">close</i> @MES_MVC.Resources.Resource.Buttonclose</button>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l4">
                    <ul class="tabs">
                        <li class="tab col s6 p-0">
                            <a id="ATag001" class="active p-0" href="#TabPage1">Demand</a>
                        </li>
                        <li class="tab col s6 p-0">
                            <a id="ATag002" class="p-0" href="#TabPage2">Confirm</a>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6 l8">
                </div>
            </div>

            <div class="row" id="TabPage1">
                <!-- Filter Panel -->
                <div class="col s12 m6 l12 card-panel light-blue lighten-4">
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>STAGE(공정) :</label>
                                <select id="ComboBox1" class="browser-default form-select">
                                  
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>DATE :</label>
                                <input id="DateTimePicker1" type="date" class="form-control" value="2025-06-21">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>PART NO(검색 Tìm) :</label>
                                <input id="TextBox1" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>NAME(검색 Tìm) :</label>
                                <input id="TextBox2" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                        </div>
                        <div class="col s12 m12 l2">
                        </div>
                    </div>
                </div>

                <!-- Main Grid - **KhungOverflow30** như B09 -->
                <div class="KhungOverflow30">
                    <table class="responsive-table" id="DataGridView1Table">
                        <thead class="sticky-header">
                            <tr onclick="DataGridView1Sort()">
                                <th>ORDER</th>
                                <th>DJG_CODE</th>
                                <th>TYPE</th>
                                <th>PART_NO</th>
                                <th>PART_NAME</th>
                                <th>FAMILY(SIZE)</th>
                                <th>PART_SNP</th>
                                <th>QTY</th>
                                <th>STOCK</th>
                            </tr>
                        </thead>
                        <tbody id="DataGridView1">
                        </tbody>
                    </table>
                </div>

                <hr />

                <!-- Detail Grid - **KhungOverflow30** như B09 -->
                <div class="KhungOverflow30">
                    <table class="responsive-table" id="DataGridView2Table">
                        <thead class="sticky-header">
                            <tr onclick="DataGridView2Sort()">
                                <th>STAGE</th>
                                <th>DATE</th>
                                <th>DJG_CODE</th>
                                <th>TYPE</th>
                                <th>PART_NO</th>
                                <th>PART_NAME</th>
                                <th>FAMILY</th>
                                <th>PART_SNP</th>
                                <th>QTY</th>
                            </tr>
                        </thead>
                        <tbody id="DataGridView2">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="TabPage2">
                <!-- Filter Panel cho Tab Confirm -->
                <div class="col s12 m6 l12 card-panel light-blue lighten-4">
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>STAGE(공정) :</label>
                                <select id="T2_S1" class="browser-default form-select">
                                   
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>DATE :</label>
                                <input id="T2_S2" type="date" class="form-control" value="2025-06-21">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>PART NO(검색 Tìm) :</label>
                                <input id="T2_S3" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>NAME(검색 Tìm) :</label>
                                <input id="T2_S4" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Complete :</label>
                                <select id="ComboBox2" class="browser-default form-select">
                                    <option value="ALL">ALL</option>
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <!-- Empty column for spacing -->
                        </div>
                    </div>
                </div>

                <!-- Main Grid cho Tab Confirm - KhungOverflow60 như B09 -->
                <div class="KhungOverflow60">
                    <table class="responsive-table" id="T2_DGV1Table">
                        <thead class="sticky-header">
                            <tr onclick="T2_DGV1Sort()">
                                <th>Order</th>
                                <th>Complete</th>
                                <th>PART_NO</th>
                                <th>TYPE</th>
                                <th>PART_SNP</th>
                                <th>QTY</th>
                                <th>PART_NAME</th>
                                <th>Date of Request</th>
                            </tr>
                        </thead>
                        <tbody id="T2_DGV1">
                            <!-- Data will be loaded here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/C16.js?v=@version"></script>